<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        @font-face {
            font-family: 'montserrat';
            src: url('/assets/fonts/montserrat.ttf') format('montserrat');
        }
        @font-face {
            font-family: 'montserrat';
            src: url('/assets/fonts/montserrat.woff2') format('woff2');
        }
        :root {
            font-family: 'montserrat', sans-serif;
        }
    </style>
    <link href="/assets/style.css" rel="stylesheet">
</head>
<body>
