{% include _head.liquid %}

<div class="main">
    <h1>{{title}}</h1>
    {{content}}
    {% if phone %}
        <h2>Provider Phone Number</h2>
        <a href="tel:{{phone}}"> 
            {{ phone | phoneFormat }}
        </a>
    {% endif %}
</div>

{% include _foot.liquid %}