{% include _head.liquid %}
<h1>19.zone!</h1>
<form action="/" method="query">
    <input
        type="text"
        name="zip"
        id="zip"
        inputmode="numeric"
        pattern="[0-9]*"
        autocomplete="postal-code"
    />
    <button type="submit">
        Get info about COVID-19 around you.
    </button>
</form>
{% include _foot.liquid %}